@charset "utf-8";

html {
  font-size: 62.5%;;
}

body {
  font-size: 1.6rem;
  font-family: 'Yu Gothic', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

h1, h2 {
  text-align: center;
}

.btn {
  display: block;
  width: 1000px;
  margin: 0 auto 20px;
  cursor: pointer;
  text-align: right;
}

.btn a {
  display: inline-block;
  width: 100px;
  background: black;
  color: white;
  text-align: center;
  margin-left: 20px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #ECE3E3;
  padding: 30px 30px;
  box-sizing: border-box;
}

/* admin top */
.item-block {
  width: 30%;
  padding-bottom: 40px;
}

.item-block > div {
  padding: 10px 0;
}

.img-wrapper {
  width: 100%;
  height: 200px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-block__head p:first-child {
  min-height: 55px;
}

.item-block__head p:last-child {
  text-align: right;
}

.item-block__comment {
  font-size: 1.4rem;
  min-height: 65px;
}

.item-block__btn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#delete,
.item-block__btn input[type="submit"] {
  width: 100px;
  background: black;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 0;
}

.item-block__btn input[type="submit"] {
  font-size: 1.6rem;
}

/* admin insert */
.container.register-container {
  padding-left: 30px;
  padding-right: 30px;
}

.img-wrapper.register-img {
  width: 350px;
  height: 350px;
}

.register-form label,
.register-form input {
  display: block;
}

.register-form input[type="text"] {
  width: 400px;
  margin-bottom: 20px;
}

.register-form input[type="file"] {
  margin-bottom: 20px;
}

.register-form textarea {
  width: 400px;
  height: 170px;
  margin-bottom: 30px;
}

.register-form input[type="submit"] {
  width: 160px;
  height: 40px;
  color: #fff;
  background: black;
}
