@charset "utf-8";

html {
  font-size: 62.5%;;
}

body {
  font-size: 1.6rem;
  font-family: 'Yu Gothic', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

h1, h2 {
  text-align: center;
}

.btn {
  display: block;
  width: 1000px;
  margin: 0 auto 20px;
  cursor: pointer;
}

.btn a {
  display: block;
  width: 100px;
  background: black;
  color: white;
  text-align: center;
  margin-left: auto;
}

.container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #ECE3E3;
  padding: 30px 30px;
  box-sizing: border-box;
}

/* top */
.item-block {
  width: 30%;
  padding-bottom: 40px;
}

.item-block > div {
  padding: 10px 0;
}

.img-wrapper {
  width: 100%;
  height: 200px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-block__head p:first-child {
  min-height: 55px;
}

.item-block__head p:last-child {
  text-align: right;
}

.item-block__comment {
  font-size: 1.4rem;
  min-height: 65px;
}

.num {
  display: flex;
}

.num p {
  margin-right: 5px;
}

.num input[type="text"] {
  width: 50px;
  margin-right: 80px;
}

.num input[type="submit"] {
  color: white;
  background: black;
  border: none;
  cursor: pointer;
}

/* cart */
.cart-container {
  background: #fff;
}

.cart-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-list {
  width: 600px;
}

.item-block_cart {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  background: #ECE3E3;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.img-wrapper_cart {
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.img-wrapper_cart img {
  width: 100%;
  height: 100%;
}

.cart-item-info p:nth-of-type(1){
  margin-bottom: 15px;
}

.cart-item-info p:nth-of-type(2){
  margin-bottom: 40px;
}

.cart-item-info input[type="submit"] {
  width: 80px;
}

.buy {
  background: #ECE3E3;
  width: 250px;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  height: 250px;
}

.buy p {
  margin-bottom: 15px;
}

.buy span {
  display: block;
  margin-bottom: 40px;
}

.buy input[type="submit"] {
  border: none;
  color: #fff;
  background: black;
  width: 105px;
  cursor: pointer;
}

/* message */
.mes {
  text-align: center;
  margin-bottom: 40px;
}

.container.message {
  display: block;
  text-align: center;
}

h3 {
  font-weight: normal;
  margin: 0 0 30px;
}

.item-buy {
  margin-bottom: 20px;
}

.item-buy span {
  margin-right: 15px;
}
.container.message div:last-child {
  margin-top: 40px;
}
